1 . CREATE A STRING VARIABLE AND PRINT ITS LENGTH.

In [6]:
a = "variable"
type(a)

str

In [7]:
len(a)

8

2. Take a string input from the user and print it in reverse.

In [13]:
S = "datascience with AI"
print(S[::-1])

IA htiw ecneicsatad

In [14]:
A = "3254367487"
print(A[::-1])

7847634523

3. Replace all occurrences of "a" with "@" in a given string.

In [16]:
t = "alphabetical order"
t.replace("a","@")

'@lph@betic@l order'

4. Convert a string to all uppercase letters using a loop (without .upper()).

In [25]:
a = "Hello, World!"
b = a.upper()
print(b)

HELLO, WORLD!

5. Count how many times the letter "e" appears in a string.

In [27]:
b = "Alphabets in english"
b.count('e')

2

6.  Print the first and last character of a given string.

In [29]:
s = "My favourite food item"
s[0:2]

'My'

In [34]:
s[18:]

'item'

7. concatenate two strings and print the result.

In [38]:
a = "my name is sathvika"
b = " age 21"

In [39]:
print(a + b)

my name is sathvika age 21

8. Check if a given string contains the word "Python".

In [101]:
q = "python is a programming language"
if "python" in q:
    print("python is present")
else:
    print("python is not present")

python is present

9. Remove all spaces from a string and print the new string.

In [65]:
a = "  aimnxt Institute hyderabad   "
a.strip()

'aimnxt Institute hyderabad'

10. Extract and print the first five characters of a string.

In [66]:
a = "learning datascience in aimnxt"
a[0:5:1]

'learn'

11 . Create a list of five numbers and print the list.

In [70]:
s = [1,4,3,56,76]
type(s)

list

12 . Print the third element of a given list.

In [72]:
r = [4,56,87,89,32]
r[2]

87

13 . Replace the second element of a list with "hello".

In [92]:
l = [2,3,4,5]
l[1]="hello"
l

[2, 'hello', 4, 5]

14. Add a new element to the end of a list.

In [94]:
l1 = [4,'sathv','AI',456]
l1.append("datascience")
l1

[4, 'sathv', 'AI', 456, 'datascience']

15. Remove the last element from a list and print the modified list.

In [95]:
t = ['sathvi',0.54,'data',45667]
t.pop()
t

['sathvi', 0.54, 'data']

16. Print each element of a list one by one using a loop.

In [4]:
a = [10,20,47,'sath']
for i in a:
   print(i)

10
20
47
sath

17. Check if the number 10 is in a given list.

In [106]:
a= [15,75,90,10,45]
if 10 in a:
    print("10 is present in the list")
else:
    print("10 is not present in the list")

10 is present in the list

18. Create two lists and join them into one.

In [107]:
a = ["sath",0.54,True]
b = [23,45,67,87]
a+b

['sath', 0.54, True, 23, 45, 67, 87]

19. Print a list in reverse order without using slicing ([::-1]).

In [102]:
c = [34,87,98,78]
c[::-1]

[78, 98, 87, 34]

20.Sort a list in ascending order without using .sort().

In [9]:
my_list = [56,87,90,34,12]
sorted_list = sorted_list (my_list)
print (sorted_list)

NameError: name 'sorted_list' is not defined

21. Create a tuple of three colors and print it.

In [120]:
a = ('blue','green','yellow')
a

('blue', 'green', 'yellow')

22. Print the second element of a given tuple.

In [121]:
s = (345,'sath',987)
s[1]

'sath'

23. Try changing an element in a tuple (observe the error).

In [123]:
s = ('sath',56,'greyy',5667)
s.replace('56','vika')
s[56]='vika'

AttributeError: 'tuple' object has no attribute 'replace'

24. Convert a tuple to a list and print it.

In [129]:
a = ("aimnxt",56,87,9,345)
list(a)

['aimnxt', 56, 87, 9, 345]

26. Check if "blue" exists in a given tuple.

In [138]:
a = (567,'blue',456,876)
if 'blue' in a:
    print("blue is present in the list")
else:
    print("blue is not present in the list")

blue is present in the list

27.Print each element of a tuple using a loop.

In [14]:
a=(1,2,3,4)
for i in a:
 print(a)

(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)

28.Print a tuple in reverse order.

In [148]:
a=(56,89,78,9887)
a[::-1]

(9887, 78, 89, 56)

29.Find the length of a tuple without using len().

In [17]:
a=("python",678,456,"dta")
len(a)

4

30.Create a tuple with a single element and print its type.

In [158]:
a=("sathvika")
type(a)

str

31. Create a string "Hello, World!" and print only "World!".

In [161]:
s = ("Hello World")

In [164]:
s[6:12]

'World'

32..Convert "Python is fun" to "PYTHON IS FUN" without using .upper().

33.Count how many words are in "I love learning Python" (without using .split()).

In [166]:
a= "I love learning Python"
len(a)

22

34.Take a string input from the user and check if it starts with "Hello".

In [167]:
s="hello world"
s.startswith("hello")

True

35.Print every second character of a string

In [170]:
a = "Data Science At Aimnxt"
a[1::2]

'aaSineA int'

36.Replace all vowels in a string with "*"

In [19]:
a = "umbrellaa"
vowels = "a,e,i,o,u"
a.replace('*',"vowels")

'umbrellaa'

37.Swap the first and last character of a string.

In [22]:
a="sathvika"
a[-1] + a[1:-1] + a[0]

'aathviks'

38.Check if two given strings are the same (case-sensitive).

In [24]:
a="Sathvika"
if a=="sathvika":
    print("a is not case sensitive")
else:
    print("a is case sensitive")

a is case sensitive

39.Print a string without the first and last character.

In [26]:
s="Datascience"
s[1:10]

'atascienc'

40.Convert a string "12345" into a list of individual characters.

In [27]:
a="12345"
list[a]

list['12345']

41.Create a list of five cities and print only the last three.

In [28]:
s=['assam','delhi','hyderabad','mumbai','gujarat']
s[2:]

['hyderabad', 'mumbai', 'gujarat']

42 . Remove the middle element from a list of five elements.

In [38]:
s = [2,3,4,5,6]
s.pop(2)

4

In [40]:
s

[2, 3, 5, 6]

43.Take five numbers from the user and store them in a list.

In [45]:
num1=int(input("please enter the value"))
num2=int(input("please enter the value"))
num3=int(input("please enter the value"))

l1=[]
for i in num1&num2&num3:
    if type(i)==int:
        l1=l1+[i]         #l1.append(i)
print(l1)

please enter the value 2
please enter the value 3
please enter the value 4

TypeError: 'int' object is not iterable

44.Find the index of "apple" in the list ["banana", "orange", "apple", "grape"].

In [1]:
fruits = ["banana", "orange", "apple", "grape"]
index = fruits.index("apple")
print("Index of 'apple':", index)

Index of 'apple': 2

45.Print only the even numbers from a given list.

In [10]:
a=[1,2,3,4,45,6,7]
for num in a:
  if num % 2 == 0:
   print(num)

2
4
6

46. Reverse a list by swapping elements (without [::-1]).

In [19]:
numbers = [1, 2, 3, 4, 5]
n = len(numbers)
for i in range(n // 2):
    numbers[i], numbers[n - 1 - i] = numbers[n - 1 - i], numbers[i]
print("reversed list:",numbers)

reversed list: [5, 4, 3, 2, 1]

47.Create a list of ten numbers and print only the unique elements.

In [4]:
s = [3, 5, 3, 5, 9, 5, 1, 2, 9, 8]
unique = []

for i in s:
    if s.count(i) == 1:
        unique.append(i)

print(unique)

[1, 2, 8]

48.Print the sum of all elements in a list (without using sum()).

In [11]:
s = [3, 5, 7, 2, 8]

total=0
for i in s:
    total += i

print("Sum:", total)

Sum: 25

49.Move the first element of a list to the last position.

In [12]:
a=[1,2,3,4,5,6,7]
a[1:]+a[:1]

[2, 3, 4, 5, 6, 7, 1]

50.Create a list with mixed data types (int, float, string) and print each element with its type.

In [13]:
a=["sathvika",(2,3,4),56.37,546]

In [14]:
type(a[0])

str

In [15]:
type(a[1])

tuple

In [17]:
type(a[2])

float

In [18]:
type(a[3])

int

51.Create a tuple of five numbers and print only the first three.

In [20]:
a=(5,3,56,87,12)

In [21]:
a[0:3]

(5, 3, 56)

52..Print the last element of a tuple without using negative indexing.

In [22]:
a=(3,5,76,85,9)
len(a)

5

In [24]:
a[4]

9

53.Convert a tuple (1, 2, 3, 4, 5) into a list and add a new number.

In [25]:
a=(1,2,3,4,5)

In [28]:
a=list(a)

In [29]:
a

[1, 2, 3, 4, 5]

In [30]:
a.append(4)

In [31]:
a

[1, 2, 3, 4, 5, 4]

54.Try deleting an element from a tuple and observe the error.

In [33]:
s=(34,67,89,12,"sath")
pop()

NameError: name 'pop' is not defined

55.Extract the middle element from a tuple with an odd number of elements.

In [42]:
a=(45,"sath","data",678,340)
middle=a[len(a)//2]
print(middle)

data

56.Check if two tuples (1, 2, 3) and (3, 2, 1) are the same.

In [43]:
a=(1,2,3)
b=(3,2,1)
if a==b:
    print("both the tuples are same")
else:
    print("both are different")

both are different

57.Create a nested tuple and print an inner element.

In [44]:
nested = ((1, 2), (3, 4), (5, 6))
print("Inner element:", nested[1][0])  # Accessing element 3

Inner element: 3

58.Merge three tuples into one.

In [45]:
a=(1,2,3,4,5)
b=("sath",455,"science")
c=(12,56.28)
d=[a+b+c]
print(d)

[(1, 2, 3, 4, 5, 'sath', 455, 'science', 12, 56.28)]

59.Find the index of 5 in the tuple (1, 3, 5, 7, 9).

In [51]:
a=(1,3,5,7,9)
a.index(5)

2

60.Unpack a tuple into separate variables.

In [54]:
a=(1,2,3,4)
s,t,u,v = a
print(s)
print(t)
print(u)
print(v)

1
2
3
4

61.Create a dictionary with the following key-value pairs:
	name: "Alice", age: 25, city: "New York"

In [57]:
t={'name': "Alice", 'age': 25, 'city': "New York"}

62.person = {"name": "Alice", "age": 25, "city": "New York"}

	Print the value associated with the key "city"

In [63]:
person = {"name": "Alice", "age": 25, "city": "New York"}
person["city"]

'New York'

63.Update the age of Alice to 26 in the dictionary

In [65]:
person = {"name": "Alice", "age": 25, "city": "New York"}
person["age"]=26
person

{'name': 'Alice', 'age': 26, 'city': 'New York'}

64.Add a new key "email" with value "alice@example.com" to the dictionary

In [76]:
person = {"name": "Alice", "age": 25, "city": "New York"}
person["email"]=("alice@example.com")
person

{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}

65.Delete the key "city" from the dictionary

In [83]:
person = {"name": "Alice", "age": 25, "city": "New York"}
person.pop("city")
person

{'name': 'Alice', 'age': 25}

66.Check if the key "email" exists in the dictionary

In [85]:
person={'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}
if "email" in person:
    print("email is present")
else:
    print("email is not present")

email is present

67. Create a dictionary of students:

 {
    "Alice": {"math": 90, "science": 85},     
    "Bob": {"math": 75, "science": 95}
 }

Print Bob's science score.

In [90]:
s= {"Alice": {"math": 90, "science": 85},"Bob": {"math": 75, "science": 95} }
bob_science_score = s["Bob"]["science"]
print("Bob's science score:", bob_science_score)

Bob's science score: 95

68.Create a set named `fruits` with the items: "apple", "banana", "cherry"

In [91]:
fruits={"apple","banana","cherry"}

69.Add "orange" to the set `fruits`

In [95]:
fruits={"apple","banana","cherry"}
fruits.add("orange")
fruits

{'apple', 'banana', 'cherry', 'orange'}

70. Remove "banana" from the set `fruits`
    What happens if you try to remove an item that doesnt exist?

In [98]:
fruits={"apple","banana","cherry"}
fruits.remove("banana")
fruits

{'apple', 'cherry'}

71.Check if "apple" is in the set `fruits`

In [99]:
fruits={"apple","banana","cherry"}
if "apple" in fruits:
    print("apple is present in fruits")
else:
    print("apple is not present in fruits")

apple is present in fruits

72. Given a list: [1, 2, 2, 3, 4, 4, 5]
    Use a set to remove duplicates

In [100]:
a= [1, 2, 2, 3, 4, 4, 5]
unique_a = list(set(a))
print(unique_a)

[1, 2, 3, 4, 5]