1.. Write a function that accepts any number of numerical arguments and returns their sum.
Example:
sum_numbers(1, 2, 3, 4)

In [7]:
def sum(a,b,c):
    return a+b+c

In [8]:
sum(4,5,12)

21

2. Create a function that takes multiple names as arguments and prints them one by one.
Example:

print_names("Alice", "Bob", "Charlie")

In [19]:
def print_names(*names):
    for name in names:
     print(name)

In [20]:
print_names("Alice", "Bob", "Charlie")

Alice
Bob
Charlie

3.Write a function that finds the maximum number among any number of arguments using *args.

In [ ]:
def max(*args):
    return max(args)

In [2]:
print (max(2,3,4,51,6,8))

51

Problem: Write a function that takes multiple numbers and returns a list of only even numbers.

In [5]:
def div(*a):
    for i in a:
        if i%2==0:
          print(i)

In [6]:
div(1,2,3,4,5,6,7,8)

2
4
6
8

4.Create a function that accepts a mix of numbers and strings but stores only numbers in a separate list.
Example:

filter_numbers(10, "apple", 25, "banana", 30)

In [12]:
def ref(*b):
    l=[]
    for i in b:
        if type(i)==int:
         l.append(i)
    print(l)

In [13]:
ref("sath","div",12,45,0.25)

[12, 45]

5.Write a function that accepts any number of arguments and returns the product of all numbers.

In [25]:
 def mul(a,b,c):
    result=a*b*c
    return result

In [26]:
mul(1,4,2)

8

6. Create a function that takes multiple words as arguments and returns a list of words that have more than 5 characters.

In [27]:
def words(*words):
    return [word for word in words if len(word) > 5]

In [28]:
words("sathvika","tv","anugra")

['sathvika', 'anugra']

8.Create a function that takes multiple numbers as input and returns the largest and smallest numbers from the arguments.

In [35]:
def num(*args):
    for i in args:
        return (min(args)and max(args))

In [33]:
num(2,4,65,1,67,89)

89

9.Write a function that accepts multiple elements and prints only the elements at even index positions.

In [1]:
def num(*args):
    for i in range(0, len(args), 2):
        print(args[i])

In [3]:
num(2,3,4,5,6,7,8)

2
4
6
8