1.create a list of squares of numbers from 1 to 10 using list comprehension.

In [9]:
div=[i*i for i in range(1,11)]

In [10]:
div

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2.Generate a list of even numbers from 1 to 20 using list comprehension

In [5]:
add=[i for i in range(1,21) if i%2==0]

In [6]:
add

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

3.Create a list of the first letters of each word in the list: ["apple", "banana", "cherry", "date"].

In [11]:
l=["apple", "banana", "cherry", "date"]

In [14]:
list=[word[0] for word in l]

In [15]:
list

['a', 'b', 'c', 'd']

4.Convert a list of temperatures in Celsius [0, 10, 20, 30, 40] to Fahrenheit using list comprehension. (Formula: F = (C * 9/5) + 32)

In [1]:
celsius=[0,10,20,30,40]
fahrenheit=list(map(lambda c: (c*9/5)+32,celsius))

In [2]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 104.0]

5.Create a list of the first 10 natural numbers using list comprehension.

In [4]:
num=[i for i in range(1,11)]

In [5]:
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

6.Generate a list of cubes of numbers from 1 to 10.

In [6]:
l=[i**3 for i in range(1,11)]

In [7]:
l

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

7.Given a string "Python is fun", create a list of words in the string.

In [21]:
l="python is fun"
div=[word for word in l.split()]

In [22]:
div

['python', 'is', 'fun']

8.Convert a list of strings ["Hello", "World", "Python"] to uppercase using list comprehension.

In [33]:
s= ["Hello", "World", "Python"]
new=[word.upper() for word in s]

In [34]:
new

['HELLO', 'WORLD', 'PYTHON']

Conditional List Comprehension

1.Create a list of numbers from 1 to 50 that are divisible by both 3 and 5.

In [35]:
num=[i for i in range(1,51) if i%3==0 and i%5==0]

In [36]:
num

[15, 30, 45]

2.Given a list of numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], create a new list containing only the odd numbers.

In [41]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n=[i for i in l if i%2!=0]

In [42]:
n

[1, 3, 5, 7, 9]

3.Given a string "hello world", create a list of vowels present in the string.

In [45]:
s="hello  world"
new=[char for char in s if char in "aeiou"]

In [46]:
new

['e', 'o', 'o']

4.Convert a list of words ["Hello", "WORLD", "Python", "LiSt"] to lowercase using list comprehension.

In [49]:
s=["Hello", "WORLD", "Python", "LiSt"]
lower=[word.lower() for word in s]

In [50]:
lower

['hello', 'world', 'python', 'list']

5.Create a list of even numbers from 1 to 50.

In [53]:
even=[i for i in range(1,51) if i%2==0]

In [54]:
even

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

6.Generate a list of numbers from 1 to 20 that are not divisible by 3

In [55]:
s=[i for i in range(1,21) if i%3!=0]

In [56]:
s

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20]

7.Given a list [5, 12, 17, 9, 3, 21, 30], create a new list containing only numbers greater than 10.

In [61]:
s=[5,12,17,9,3,21,30]
new=[num for num in s if num>10]

In [62]:
new

[12, 17, 21, 30]

8.Create a list of squares of only the even numbers from 1 to 10.

In [63]:
squ=[i*i for i in range(1,11) if i%2==0]

In [64]:
squ

[4, 16, 36, 64, 100]

9.given a list of words ["dog", "elephant", "cat", "rabbit"], create a new list containing only words with more than 3 letters.

In [69]:
s=["dog", "elephant", "cat", "rabbit"]
new=[word for word in s if len(word>3)]

TypeError: '>' not supported between instances of 'str' and 'int'