1.EVEN OR ODD

In [2]:
num=int(input("please enter the number"))
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

please enter the number 3

the number is odd

2 . positive,negtive,or zero

In [7]:
num=int(input("please enter the number"))
if num>1:
    print("the number is positive")
elif num<0:
    print("the number is negative")
else:
    print("the number is zero")

please enter the number 3

the number is positive

3.FIND THE LARGEST NUMBER

In [10]:
num1 = int(input("please enter the number1"))
num2 = int(input("please enter the number2"))
num3 = int(input("please enter the number3"))
if num1>num2&num3:
    print("num1 is larger number")
elif num2>num1&num3:
    print("num2 is larger number")
elif num3>num1&num2:
    print("num3 is larger number")
else:
    print("all are equal")

please enter the number1 4
please enter the number2 3
please enter the number3 2

num1 is larger number

3. LEAP YEAR CHECK

In [12]:
n = int(input("please enter the number"))
if n%4==0:
    print("it is a leap year")
else:
    print("it is not a leap year")

please enter the number 2024

it is a leap year

4.VOWEL OR CONSONANT

In [ ]:
n = int(input("please enter the value"))
vowels = ("a,e,i,o,u")
if vowels in n:
    print("It is a vowel")
else:
    print("It is a consonant")

5.DIVISIBLE BY 3 AND 5

In [16]:
n = int(input("please enter the value"))
if n%3==0 & n%5==0:
    print("The number is divisible by both 3 and 5")
else:
    print("the number is not divisible by both 3 and 5")

please enter the value 17

the number is not divisible by both 3 and 5

6.PRINT NUMBERS FROM 1 TO 20

In [18]:
a = 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

7 . PRINT EVEN NUMBERS FROM 1 TO 50

In [20]:
for number in range(1, 51):
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

9. SUM OF NUMBERS

In [23]:
total = sum(range(1, 101))
print("Sum from 1 to 100 is:", total)

Sum from 1 to 100 is: 5050

10. MULTIPLICATION TABLE

In [25]:
n = int(input("please enter the value"))
for i in range(n):
    print(f"{n} x {i} = {n * i}")

please enter the value 10

10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90

11. FILTER LIST ELEMENTS

In [ ]:
v = [1,2,3,23,54,12,67,89,11]
while num >10:
    print(num)
    num+=1

12. BREAK ON CONDITION

In [31]:
num = 1

while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

14.GRADE CALCULATOR

In [4]:
n = int(input("please enter the percentage"))
if n>90 & n<100:
    print("A grade")
elif n>80 & n<89:
    print("B grade")
elif n>70 & n<79:
    print("C grade")
elif n>60 & n<69:
    print("D grade")
else:
    print("F grade")

please enter the percentage 93

A grade

15.FIND SMALLEST NUMBER

In [6]:
n1 = int(input("please enter the num1"))
n2= int(input("please enter the num2"))
n3= int(input("please enter the num3"))
n4= int(input("please enter the num4"))
n5= int(input("please enter the num5"))
if n1<n2&n3&n4&n5:
    print("n1 is smaller")
elif n2<n1&n3&n4&n5:
    print("n2 is smaller")
elif n3<n1&n2&n4&n5:
    print("n3 is smaller")
elif n4<n1&n2&n3&n5:
    print("n4 is smaller")
else:
    print("n5 is smaller")

please enter the num1 19
please enter the num2 55
please enter the num3 29
please enter the num4 11
please enter the num5 5

n5 is smaller

16.REVERSE A NUMBER

In [8]:
s= "567899"
s[::-1]

'998765'

17.LIST TRAVERSAL

In [15]:
a = "Hello, World!"
b = a.upper()
print(b)

HELLO, WORLD!

18.SUM OF DIGITS

In [17]:
a=12
b=13
c=15
a+b+c

40

19.COUNT DIGITS

In [1]:
s=("12345")
len(s)

5